/* this separate file is for the different dedicated pages which is linked to the home page.
SO the mostly styles styles for the dedicated pages are present here */

/* this section is for about us  */

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    font-family: Poppins, sans-serif;
    background-color: #222222;
}

html {
    box-sizing: border-box;
}

/* #main-aboutus-container {
    height: auto;
    width: 100%;

} */


/* nav bar styles */


#nav-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: fixed;
    width: 100%;
    /* padding: 0px 50px; */
    /* top: 0;
    left: 0; */
    z-index: 99;
    
    /* height: 90px; */
}



#admin {
    font-size: 30px;
}

/* .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.nav-logo {
    /* color: rgb(192, 18, 53); */
    margin-left: 120px;
    /* margin-top: 40px; */
}

.nav-logo img {
    /* color: #000000; */
    /* text-decoration: none; */
    /* letter-spacing: 2px; */
    height: 80px;
}
/* .nav-links-container {
    padding: 8px 0;
} */

.nav-links {
    list-style: none;
    margin-right: 150px;
}

.nav-links>.nav-link-item {
    display: inline-block;
    margin: 0 30px;
    /* position: relative; */
}

.nav-links>.nav-link-item>a {
    text-decoration: none;
    font-size: 18px;
    /* display: flex; */
    /* padding: 10px 0; */
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease;
    /* text-transform: capitalize; */
    /* align-items: center; */
    transition: transform 0.2s ease-in-out;
}

.nav-links>.nav-link-item:hover>a {
    color: #DD5746;
    transform: scale(1.5);
}

/* dropdown */

.dropdown a {
    text-decoration: none;
}

.dropdown {
    list-style: none;
    position: absolute; 
    background-color: #ffffff;
    box-shadow: 0 10px 45px rgb(85, 85, 85);
    /* border-radius: 16px; */
    /* margin-top: -390px; */
    width: 150px;
    opacity: 0;
    z-index: -999;
    text-align: center;
    transition: all ease 1s;
}

.dropdown a {
    color: #2c2c2c;
    font-size: 15px;
    line-height: 50px;
    font-weight: 600;
}

.nav-links-container ul li:hover .dropdown {
    padding: 30px 0px;
    z-index: 999;
    opacity: 1;
    margin-top: 25px;
    /* color: #DD5746; */
    /* display: block; */
}
/* dropdown */
.menu-btn {
    height: 30px;
    width: 30px;
    display: none;
    background-color: #000000;
    
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 240px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar li {
    list-style: none;
    margin: 40px 20px;
}

.sidebar li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.sidebar li a:hover {
    color: rgba(192, 18, 53, 10);
}

.close-menu-btn {
    margin-top: 22px;
    margin-left: -160px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(192, 18, 53, 10);
    color: rgb(255, 255, 255);
}


/* navbar and sidebar styles ends here  */

/* here the styles for the main section starts */


/*  hero-2 styles starts here*/

#aboutus-hero2 {
    background-color: whitesmoke;
    display: flex;
    padding: 120px 250px;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    top: 0;
    z-index: 2;
}

.hero2-img {
    height: 400px;
    width: 500px;
    box-shadow: 1px 1px 1px rgb(180, 180, 180);
    /* width: auto; */
    /* background-repeat: no-repeat; */

}

.right-hero2 {
    margin-left: 70px;
    color: #000000;
}

.right-hero2 h2 {
    font-size: 40px;
    font-variant: small-caps;
    margin-bottom: 30px;

}

.right-hero2 p {
    text-align: justify;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: normal;
    margin-bottom: 40px;
}


/* here the about-us- hero3 section styles starts */

.aboutus-hero3 {
    background-image: url("/assests/aboutus-mission.jpg");
    height: 50vh;
    background-position: bottom  ;
    background-size:cover;
    /* width: 100%; */
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    /* background-color: rgb(247, 238, 228); */
}

.aboutus-hero3 .mission-title  {
    color: #fff;
    position: relative;
    z-index: 3;
    /* top: 15rem; */
    margin-top: 20px;
}

.aboutus-hero3 h2 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 30px;
    text-align: center;
    /* margin: 30px 0px; */
    /* width: 300px; */
    /* display: flex; */
    /* justify-content: center; */
    border: 2px solid whitesmoke;
}

.aboutus-hero3 p {
    font-size: 30px;
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: 1px;
    text-align: justify;
    margin: 40px 400px;
}
.aboutus-hero3::before {
    content: "";
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Ensure the overlay is above the background but below the text */
}



.reveal {
    position: relative;
    transform: translateY(90px);
    transition: all 1.5s ease;
    opacity: 0;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* this section is for the belief content */

.belief-wrapper {
    height: 80vh;
    /* background-color: #050505; */
    overflow: visible;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    /* margin: 40px; */
}

.belief-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.belief-head h2 {
    margin-top: 50px;
    border: 3px solid whitesmoke;
    padding: 10px 20px;
    text-transform: uppercase;
}

.belief-head p {
    margin: 30px 200px;
    font-size: small;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: justify;

}

.belief-item-wrapper::-webkit-scrollbar {
   height: 30px;
   width: 10px;
}

.belief-item-wrapper::-webkit-scrollbar-track{
    background: #ffffff;
    /* width: 10px; */
    margin: 0px 900px;
    border-radius: 30px;
}

.belief-item-wrapper::-webkit-scrollbar-thumb {
   background: rgb(119, 21, 21);
   border-radius: 40px;
}

.belief-item-wrapper {
    /* margin-bottom: 40px; */
    /* max-height: 500px; */
    display: flex;
    overflow-x: auto;
}

.belief-items {
    margin: 30px 20px;
    /* border: 1px solid black; */
    min-height: 400px;
    min-width: 400px;
    /* cursor:grab; */
    background-color: rgb(92, 32, 32);
}

.belief-items .header-belief {
    margin: 30px 20px;
    /* font-weight: normal; */
    text-transform: uppercase;
    /* text-align:justify; */
    font-size: 30px;
}

.belief-items p {
    font-size: small;
    letter-spacing: 1px;
    margin: 20px 20px;
    text-align: justify;
}

/* belief ends */


/* last section for the aboutus  */

.links-aboutus {
    height: 20vh;
    background: whitesmoke;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.links-aboutus h2 {
    color: black;
    /* display: flex; */
    text-align: center;
    /* margin: 0px 700px; */
    padding: 10px 20px;
 /* width: 350px; */
    border: 2px solid black;
    /* font-size: normal; */
    /* font-weight: normal; */
    text-transform: uppercase;
}
.wrapper-links-aboutus {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.links-about-div {
    margin: 40px 10px;
    text-decoration: none;
    border: 2px solid black;
    /* width: 100px; */
    text-transform: uppercase;
    padding: 10px 30px;
    /* border-radius: 8px; */
    font-size: 20px;
    color:black;
}

.links-about-div:hover {
    background-color: rgb(102, 15, 15);
    color: whitesmoke;

}

/* footer styles starts  */


/* yo section chai footer ko lagi  */
#footer {
    background-image: url('../assests/pattern.jpg');
    background-color: #3a3a3a;
    height: auto;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    overflow: hidden;
    position: relative;
    opacity: 0.98;
}

.footer-ko-container {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 150px; */


}

/* footer ma bhako bhitra ko top-container */
.footer-ko-top {
    padding: 140px 0;
    /* border: 1px solid rgb(55, 0, 255); */

}

.Location-timings {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

/* .Location-timings h2 {
    color: #fb8b23;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 20px;
} */

.Location-timings p {
    font-size: 15px;
    font-weight: 600;

}

.footer-bhitra {
    display: table-cell;
    padding: 0 30px;
    /* border-left: 1px solid #535353; */
    color: #fff;
    letter-spacing: 0.5pt;
    border-right: 1px solid #757575;

}

.footer-bhitra h2 {
    color: #fb8b23;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 20px;

}

/* footer bhitra ko quick links */
.footer-ko-quicklinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footerko-links {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer-ko-li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
}

#lastlink {
    list-style: none;
}

#lastlink a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    padding-left: 1rem;
}

.footer-ko-li {
    border-right: 1px solid #d3d3d3;
    padding: 0px 1rem;
    list-style: none;


}

.footer-contact {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}


.icons-ko-tala {
    font-size: 15px;
    font-weight: 600;
    padding-left: 1.5rem;

}

/* footer ma bhako arko container/ bottom container */

.footer-ko-bottom {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;


}

/* footer ko social links */
.footer-social-links {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
    right: 2rem;
}

.footer-social-links li a img:hover {
    transform: scale(1.3);
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) hue-rotate(240deg) saturate(500%);
    border-color: #ffa07a;
}


.footer-social-links li a img {
    filter: brightness(0) saturate(100%) invert(60%);
    transition: .4s;
}

.footer-social-links img {
    height: 30px;

}

.footer-social-links li {
    list-style: none;
}

.footer-ko-bottom p {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    padding-left: 2rem;
}

/* footer styles ends */

/* the about us page styles ends here
 */




/* this sections is for the kids section */
/* first section  */
.kids-first-hero {
    /* border: 1px solid red; */
    height: auto;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 7rem; */
    justify-content: center;
    align-items: center;
    line-height: 40px;
    overflow: hidden;
    padding: 80px 0px;
}

.heading-kids {
    border: 3px solid black;
    padding: 10px 40px;
    background-color: transparent;
    margin: 40px;
}

.heading-kids h2 {
    /* font-weight: 800; */
    text-transform:uppercase;
}

.timing-kids {
    width: 60%;
    text-align: center;
    font-size: normal;
    letter-spacing: 3px;
}

/* second section for the kids ministry  */
.kids-second-wrapper {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    background-color: cornsilk;
}

.second-image img {
    height: 350px;
    /* width: auto; */
    object-fit: cover;
    margin-right: 100px;
}

.second-text {
    text-align: justify;
    /* letter-spacing: 2px; */
    line-height: 28px;
    
}

.second-text h3 {
    margin-bottom: 30px;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: normal;

}

.second-text p {
    font-size: 16px;
}


/* third section fr the kids ministry */
.kids-third {
    height: auto;
    width: 100%;
    padding-bottom: 80px
}

.kids-third-text h2 {
    border: 3px solid black;
    padding: 10px 20px;
    margin: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.kids-third-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;

}

.kids-third-text p {
    width: 70%;
    text-align: center;
    letter-spacing: 2px;
}

.kids-third-videos .manage-kids {
    height: 300px;
    margin: 0px 10px;
    
}

.kids-third-videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

/* pastors for the kids ministry styles */

.staff-kids-wrapper {
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
}

.kids-staff {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.staff-wrapper img {
    aspect-ratio: 7 / 6;
    /* height: auto; */
    /* width: 100%; */
    max-width: 350px;
}

.staff-head-kids {
    border: 3px solid black;
    padding: 10px 20px;
    text-transform: uppercase;
    align-self: center;
}

/* styles for the kids over */

/* this section is for the dedicated youth ministry page */

.staff-youth-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
}

.youth-text-wrapper {
    display: flex;
    flex-direction: column;
    margin: 40px 150px;
}

.youth-text-wrapper h2 {
    text-transform: uppercase;
    width: 400px;
    border: 2px solid black;
    padding: 10px 10px;
    text-align: center;
}

.youth-text-wrapper h3 {
    text-transform: uppercase;
    width: 200px;
    border: 2px solid black;
    padding: 10px 5px;
    text-align: center;
}

#youth-contact {
    text-decoration: none;
    border: 2px solid black;
    width: 100px;
    text-transform: uppercase;
    padding: 10px 30px;
    /* border-radius: 8px; */
    font-size: normal;
    color:black
}

#youth-contact:hover {
    background-color: black;
    color: whitesmoke;

}

.youth-text-wrapper p {
    letter-spacing: 2px;
    margin: 40px 0px;
    text-align: justify;
}

.youth-img-wrapper img {
    height: 500px;
}

/* styles for the youths over. */

/* styles for the mom starts  */



/* styles for the moms end  */

