@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    /* overflow-x: hidden; */
}

body {
    box-sizing: border-box;
    background-color: #C8E0F4;
    padding: 0;
    margin: 0;
    /* height: 100vh; */
    /* width: 100%; */
}

/* rose dew #FFDFDF
    matte black #322C2B
    light red #DD5746
     dark maroon #3b0d11
*/

/* navbar and sidebar styles starts here  */

nav {
    
    /* border: 1px solid navy; */
    position: fixed;
    z-index: 999;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.nav-logo img{
    margin-left: 150px;
    height: 200px;
    /* font-size: 25px; */
    /* text-transform: capitalize; */
    overflow: clip;
}

#logo-talkeko {
    color: #BA1200;
}

.navContainer {
    margin-right: 250px;
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
    /* border: 1px solid aqua; */
}

.navContainer div {
    cursor:auto;
    padding: 25px 30px;
    display: inline-block;
    /* flex-direction: column; */
    /* position: absolute; */
    /* background-color:  green; */
    /* width: 80px; */
    /* height: auto; */
    font-size: 20px;
    font-weight: 600;
    font-variant: small-caps;
    color: rgb(255, 255, 255);
    
}

.drop1 li,.drop2 li,.drop3 li {
    list-style-type: none;

}

.drop1 a,.drop2 a,.drop3 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}


.Link4 a {
   /* list-style: none; */
   text-decoration: none;
   color: rgb(255, 255, 255);
}

.drop1, .drop2, .drop3 {
    z-index: 99;
    background-color: rgb(0, 0, 0);
    position:absolute;
    display: none;
    padding: 30px 40px; 
    margin-top: 25px;
    line-height: 45px;
    box-shadow: 0 2px 6px rgba(27, 27, 27, 0.404);
    text-align: justify;
}


#admin {
    /* z-index: 999; */
    font-size: 30px;
    color:#BA1200;
}

.link5 a {
    text-decoration: none;
}


/* hamburger section for the nav bar  */
.menu-btn {
    height: 30px;
    width: 30px;
    display: none;
    background-color: #000000;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 240px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar li {
    list-style: none;
    margin: 40px 20px;
}

.sidebar li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.sidebar li a:hover {
    color: rgba(192, 18, 53, 10);
}

.close-menu-btn {
    margin-top: 22px;
    margin-left: -160px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(192, 18, 53, 10);
    color: rgb(255, 255, 255);
}

/* navbar and sidebar styles ends here  */


/* Hero container starts here */

#hero-container {
    overflow: hidden;
    background-image: url('/hero-background/hero-background04.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    background-repeat: no-repeat;
    /* position: relative; */
    /* background-color: #fff; */
    animation: bgchange 40s linear infinite;
}

@keyframes bgchange {
    10% {
        background-image: url('/hero-background/hero-background04.jpg');
    }

    20% {
        background-image: url('/hero-background/hero-background02.jpg');
    }

    25% {
        background-image: url('/hero-background/hero-background01.jpg');
    }

    45% {
        background-image: url('/hero-background/hero-background03.jpg');
    }

    50% {
        background-image: url('/hero-background/hero-background05.jpg');
    }

    70% {
        background-image: url('/hero-background/hero-background06.jpg');
    }

    75% {
        background-image: url('/hero-background/hero-background07.jpg');
    }

    95% {
        background-image: url('/hero-background/hero-background08.jpg');
    }

}

.overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#title-box {
    display: inline-block;
    z-index: 2;
}

#animated-text {
    font-weight: 500px;
    font-size: 70px;
    letter-spacing: 10px;
    border-right: 5px solid;
    width: 100%;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 5s infinite,
        cursor .3s step-end infinite alternate;
}

#talkeko-text-main-hero-ko {
    color: #BA1200;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.welcome-text {
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    /* color: white; */
    letter-spacing: 3px;
    margin: 20px 0;
    text-align: center;
    z-index: 1;
    color: #fafafa;
}


#join-btn {
    z-index: 1;
    border: 2px solid white;
    /* border-radius: 4px; */
    background-color: transparent;
    color: white;
    padding: 10px 40px;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2px;
    transition: .7s;
}

#join-btn:hover {
    background-color: #BA1200;
    cursor: pointer;
}

/* Hero container ends here */


/* events page styles */
#events-container {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    padding: 70px 0px;
    background-size: cover;
    background-position: fixed;
    object-fit: contain;
    overflow: hidden;
}

.events-content {
    display: flex;
    flex-direction: column;
}

.events-content-container {
    display: flex;
    margin: 60px;
    justify-content: center;
    align-items: center;
}

.event-heading {
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}

.event-heading p {
    font-size: 16px;
    font-weight: normal;
}

.event-1 {
    background-image: url('/assests/Children.jpeg');
}

.event-2 {
    background-image: url('/assests/baptism.jpg');
}

.event-3 {
    background-image: url('/assests/picnic.jpg');
}

.card {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 50px;
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: block;
    border-radius: 4px;
}

.card .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 0.3s;
}

.card:hover .overlay {
    opacity: 1;
}

.card .events-btn {
    padding: 0.6em 1.3em;
    text-decoration: none;
    color: #fff;
    border: 2px #fff solid;
    letter-spacing: 1px;
    margin: 10px;
}

.card .events-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.card .events-btn,
.card h1 {
    transition: 0.3s;
    transform: translateY(-20px);
}

.card:hover .events-btn,
.card:hover h1 {
    transform: translateY(0);
}


.events-pg-btn {
    height: 40px;
    width: 170px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 20px;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

/* #events-container a {
    box-shadow: 4px 5px 3px solid black;;
text-shadow: 4px 5px 3px solid black;

} */

.events-pg-btn:hover {
    background-color: rgb(196, 54, 54);
    color: whitesmoke;
}


/* events page */


/* ministry */
#ministry {
    padding: 100px;
}

.ministry-content {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border;
}

.ministry-heading {
    position: relative;
    font-size: 28px;
    text-align: center;
}

#ministry .ministry-description {
    margin-bottom: 60px;
    text-align: center;
    font-size: 16px;
}

.ministry-img {
    height: 400px;
    width: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.child-bg-img {
    background-image: url('/assests/kid.jpg');
}

.adult-bg-img {
    background-image: url('/assests/adult.jpg');
}

.mom-bg-img {
    background-image: url('/assests/mom.jpg');
}

.ministry-img {
    height: 400px;
    width: 400px;
}

.kid-ministry-content,
.adult-ministry-content,
.mom-ministry-content {
    width: 400px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px;
}

.ministry-link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.kid-ministry-content {
    background-color: #E0FBE2;
}

.adult-ministry-content {
    background-color: #E1F7F5;
}

.mom-ministry-content {
    background-color: #FFEFEF;
}

/* ministry ends*/

/* second container starts */

.reveal {
    position: relative;
    transition: all 1.2s ease-in-out;
    opacity: 0.1;
}

.reveal.active {
    opacity: 1;
}

/* second container ends*/


/* yo section chai footer ko lagi  */
#footer {
    background-image: url('../assests/pattern.jpg');
    background-color: #3a3a3a;
    height: auto;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    overflow: hidden;
    position: relative;
    opacity: 0.98;
}

.footer-ko-container {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 150px; */


}

/* footer ma bhako bhitra ko top-container */
.footer-ko-top {
    padding: 140px 0;
    /* border: 1px solid rgb(55, 0, 255); */

}

.Location-timings {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

/* .Location-timings h2 {
    color: #fb8b23;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 20px;
} */

.Location-timings p {
    font-size: 15px;
    font-weight: 600;

}

.footer-bhitra {
    display: table-cell;
    padding: 0 30px;
    /* border-left: 1px solid #535353; */
    color: #fff;
    letter-spacing: 0.5pt;
    border-right: 1px solid #757575;

}

.footer-bhitra h2 {
    color: #fb8b23;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 20px;

}

/* footer bhitra ko quick links */
.footer-ko-quicklinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footerko-links {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer-ko-li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
}

#lastlink {
    list-style: none;
}

#lastlink a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    padding-left: 1rem;
}

.footer-ko-li {
    border-right: 1px solid #d3d3d3;
    padding: 0px 1rem;
    list-style: none;


}

.footer-contact {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}


.icons-ko-tala {
    font-size: 15px;
    font-weight: 600;
    padding-left: 1.5rem;

}

/* footer ma bhako arko container/ bottom container */

.footer-ko-bottom {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;


}

/* footer ko social links */
.footer-social-links {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
    right: 2rem;
}

.footer-social-links li a img:hover {
    transform: translate3d(0px, 3px, 0px);
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) hue-rotate(240deg) saturate(500%);
    border-color: #ffa07a;
}


.footer-social-links li a img {
    filter: brightness(0) saturate(100%) invert(60%);
    transition: filter 0.5s;
}

.footer-social-links img {
    height: 30px;

}

.footer-social-links li {
    list-style: none;
}

.footer-ko-bottom p {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    padding-left: 2rem;
}

/* footer ends  */


@media (max-width:768px) {
    .nav-links-container {
        display: none;
    }

    .nav-container {
        justify-content: space-between;
        padding: 0px 40px;
    }

    #sign-in-btn {
        display: none;
    }

    .show-menu-btn {
        display: block;
    }

}
/* church timings */

.timings{
    background-color: rgba(0, 0, 0, 0.932);
    height: 60vh;    	
    width: 100%;
}

.head-timings{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 90px;
}

.head-timings h3 {
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
}

.timings hr {
    height: 3px;
    border: none;
    width: 25%;
    position: absolute;
    left:0;
    /* top: 2em; */
    background-color: #3b0d11;
    margin-top: 70px;
}

#church-timings {
    color: whitesmoke;
    /* background-color:  #3b0d11; */
    /* padding-top: 60px; */
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    /* z-index: 99; */
}


.verse-text {
    /* position: absolute; */
    font-weight: 700;
    /* margin: 20px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    background-color:  #272727;
    width: 400px;
    height: 300px;
    padding: 50px 50px;
    transform: translateY(20%);
    transform: translatex(-15%);
    /* margin-top: 00px; */
    /* border-radius: 6px; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.89);
    /* z-index: 99; */

}

.timing-container {
    /* position: absolute; */
    height: 400px;
    width: 600px;
    background-color: #3b0d11;
    /* transform: translateY(-20%); */
    /* border-radius: 10px; */
    /* z-index: -1; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    /* position: relative; */
    /* margin-right: 640px; */
    transform: translateY(-6%);
}

.service {
    /* font-size: 22px; */
    font-weight: 700;
    line-height: 40px;
}

.service-timing {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 2px;
    /* padding: 20px; */
}

/* .circle {
    height: 180px;
    width: 420px;
    background-color: #535353;
    position: relative;
    z-index: -2;
    transform: translatex(-60%);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
} */


/*timings ends */



#about {
    height: 80vh;
    width: 100%;
    padding-top: 60px;
}

#about h3 {
    font-size: 28px;
    text-align: center;
}

#about p {
    margin-bottom: 40px;
    text-align: center;
}

.about-link {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 12px;
    display: block;
    margin: 0 auto;
    width: 120px;
    text-align: center;
    border-radius: 4px;
}

.about-link:hover {
    background-color: rgb(196, 54, 54);
}

.contact-content-containers {
    height: 200px;
    width: 400px;
    background-color: #ECF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.contact-content-containers p {
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
}

.blank {
    height: 20px;
    background-color: black;
}

.contact-content-containers h4 {
    margin-top: 60px;
    font-size: 20px;
}

.footer-links {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-link-svg {
    height: 26px;
    width: 26px;
}

.copyright {
    background-color: black;
}

.copyright p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-heading h3,
.event-heading p {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: 50% cover 50%;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


@media (max-width:768px) {
    .nav-links-container {
        display: none;
    }

    .nav-container {
        justify-content: space-between;
        padding: 0px 40px;
    }

    #sign-in-btn {
        display: none;
    }

    .ministry-content {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        box-sizing: border;
        flex-direction: column;
    }

    #ministry {
        padding: 0;
    }

    .verse-text {
        margin-left: 0px;
        width: 50%;
    }


    .circle {
        margin-left: 480px;

    }

    .timing-container {
        margin-left: auto;
        margin-right: auto;
    }

    .nav-container {
        padding: 10px 0px;
        ;
    }

    .card {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .ministry-img {
        height: 200px;
        width: 200px;
        background-size: cover;
        background-position: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .kid-ministry-content,
    .adult-ministry-content,
    .mom-ministry-content {
        width: 200px;
    }

    .ministry-content {
        display: flex;
        flex-direction: row;
    }

    .nav-logo {
        margin-left: -20px;
    }

    .menu-btn {
        display: block;
        margin-right: 20px;
    }
}

@media (max-width: 400px) {
    body {
        overflow-x: hidden;
        whitespace: hidden;
    }

    .events-content-container {
        flex-direction: column;
        margin: 0;
    }

    .ministry-content {
        flex-direction: column;
    }

    .timing-container {
        width: 200px;
        margin: 0;
    }

    .verse-content {
        width: 50%;
    }

    .circle {
        display: none;
    }

    .nav-logo {
        font-size: 12px;
        margin-left: -40px;
    }

    #animated-text {
        font-size: 28px;
    }

    .welcome-text {
        font-size: 10px;
    }

    #join-btn {
        font-size: 10px;
        font-weight: bold;
    }

    #events-container {
        padding-top: 30px;
    }

    .event-heading h3 {
        font-size: 20px;
    }

    .event-heading p {
        font-size: 12px;
        padding: 10px;
    }

    .events-pg-btn {
        font-size: 12px;
        padding: 0;
        margin-bottom: 0px;
        letter-spacing: 0 height: 20px;
        width: 100px;
    }

    #ministry {
        padding-top: 60px;
    }

    .card {
        height: 150px;
    }

    #ministry h3 {
        font-size: 20px;
    }

    #ministry .ministry-description {
        font-size: 12px;
    }

    #church-timings h3 {
        font-size: 20px;
        margin-top: 0;
    }

    #church-timings p {
        font-size: 12px;
        padding: 6px;
    }

    #church-timings {
        padding-top: -20px;
    }

    #church-timings p {
        padding: 4px;
    }

    .timing-container {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 320px;
    }

    .service {
        font-size: 14px;
    }

    .service-timing {
        font-size: 12px;
    }

    #about h3 {
        font-size: 20px;
    }

    #about p {
        font-size: 12px;
        padding: 8px;
        text-align: left;
    }

    .about-link {
        font-size: 12px;
    }

    .contact-details h4 {
        font-size: 12px;
    }

    .landmark h4 {
        font-size: 12px;
    }

    .contact-content-container {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .contact-content {
        gap: 10px;
    }

    footer {
        font-size: 12px;
        text-align: center;
    }
}