* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
}

/* navbar and sidebar styles starts here  */

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    align-items: center;
    /* box-sizing: border-box; */
    /* padding-right: 2rem; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: "Lato", sans-serif;
}

.nav-logo {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    height: 75px;
}

.nav-links-container {
    padding: 16px 0;
    
}

.nav-links {
    list-style: none;
}

.nav-links > .nav-link-item {
    display: inline-block;
    margin: 0 24px;
    position: relative;
}

.nav-links > .nav-link-item > a {
    text-decoration: none;
    display: flex;
    padding: 10px 0;
    color: #777;
    font-weight: 500;
    transition: 0.3s ease;
    align-items: center;
}

.nav-links > .nav-link-item:hover > a {
    color: rgb(192, 18, 53);
    border-top: 2px solid;
    transform: translate3d(0px, 10px, 0px);
}

.nav-link-item > a > .fa-chevron-down {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 8px;
    transition: 0.3s ease;
    pointer-events: none;
}

.nav-link-item:hover > a > .fa-chevron-down {
    transform: rotate(-180deg);
}

.nav-links > .nav-link-item > .dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80%;
    left: -16px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    transform: translateY(0);
    transition: .3s ease;
    visibility: hidden;
    opacity: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-links > .nav-link-item:hover > .dropdown-menu {
    transform: translate(8px);
    visibility: visible;
    opacity: 1;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item {
    list-style: none;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a {
    text-decoration: none;
    display: block;
    color: #777;
    font-weight: 500;
    transition: .3s ease;
    padding: 16px;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a:hover {
    color: #5e3c83;
    background-color: #2d58d927;
    
}

.nav-container .background {
    position: fixed;
    z-index: 998;
    background-color: #00000071;
    left: 0;
    top: 0;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in;
}

.nav-container .background:active {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-out;
}

.nav-container .open-menu {
    display: block;
    font-size: 24px;
    color: #fff;
}

.nav-container .close-menu {
    display: block;
    font-size: 24px;
    color: #fff;
}

#sign-in-btn {
    padding: 8px 18px;
    border: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 4px;
    font-size: 1rem;
}

.show-menu-btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 240px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sidebar li {
    list-style: none;
    margin: 40px 20px;
}

.sidebar li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.sidebar li a:hover {
    color: rgba(192, 18, 53, 10);
}

.close-menu-btn {
    margin-top: 22px;
    margin-left: -160px;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: rgba(192, 18, 53, 10);
    color: white;
}

#sign-in-btn:hover {
    background-color: rgb(192, 18, 53);
}
/* #sign-out-btn {
    padding: 8px 18px;
    border: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 4px;
    font-size: 1rem;
    margin-right: 20px;
} */
/* navbar and sidebar styles ends here  */


/* Hero container starts here */
#hero-container {
    background-image: url('/assests/hero-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgb(37, 37, 37);
}

#title-box {
    display: inline-block;
}

#animated-text {
    font-weight: 500px;
    font-size: 80px;
    letter-spacing: 10px;
    border-right: 5px solid;
    width: 100%;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s infinite,
        cursor .4s step-end infinite alternate;
}

#talkeko-text-main-hero-ko {
    color: rgb(192, 18, 53);
}

@keyframes cursor {
    50% {
        border-color: rgb(192, 18, 53)
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

#welcome-text {
    color: white;
    letter-spacing: 2px;
    margin: 20px 0;
}

#join-btn {
    border: 2px solid;
    background-color: transparent;
    color: white;
    padding: 17px 60px;
    /* border: 2px solid; */
    background-color: transparent;
    color: whitesmoke;
    /* border-radius: 16px; */
    font-size: 1.5rem;
    margin-right: 20px;
    font-weight: 600;
}
/* Hero container ends here */

#join-btn:hover {
    background-color: rgb(192, 18, 53);
}



/* events page */
#events-container {
    height: 100vh;
    width:  100%;
    padding: 100px 0px;
    background-color: rgb(37, 37, 37);
    background-image: url('/assests/yo.jpg');
    background-size: cover;
    background-position: fixed;
    
}

.events-content-container {
    display: flex;
    margin: 80px;
    justify-content: center;
    align-items: center;
}

.event-heading {
    margin-left: 220px;
    color: rgb(235, 235, 235);
    margin-top: 40px;
}

.event-heading h1 {
    font-size: 46px;
}

.event-1{
    background-image: url('/assests/Children.jpeg');
}
.event-2 {
    background-image: url('/assests/baptism.jpg');
}
.event-3 {
    background-image: url('/assests/picnic.jpg');
}

.card {
    width: 400px;;
    height: 400px;
    position: relative;
    margin: 0 4em;
    /* background-image: url('/assests/hero-bg.jpg'); */
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: #000 0px 11px 15px 0px;
    border-radius: 4px;
    display: block;
}

.card .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
}

.card:hover .overlay {
    opacity: 1;
}

.card .events-btn {
    padding: 0.6em 1.3em;
    text-decoration: none;
    color: #fff;
    border: 2px #fff solid;
    letter-spacing: 1px;
    border-radius: 8px;
    margin: 10px;
}

.card .events-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.card .events-btn, .card h1 {
    transition: 0.3s;
    transform: translateY(-20px);
}

.card:hover .events-btn, .card:hover h1 {
    transform: translateY(0);
}


.events-pg-btn {
    height: 70px;
    width: 170px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    text-decoration: none;
    padding:  4px 20px;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-pg-btn:hover {
    background-color: rgb(192, 18, 53);
}

/* events page */


/* ministry */
#ministry {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 100px;
    background-color: rgb(37, 37, 37);
    flex-direction: column;
    padding-bottom: 100px;
}

.ministry-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.ministry-heading {
    font-size: 40px;
    color: white;
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 40px;
}

.kid-ministry {
    display: flex;
}

.kid-ministry-img {
    height: 300px;
    border-radius: 12px;
    margin-left: -50px;
    box-shadow: #000 0px 11px 15px 0px;
}

.kid-ministry-content {
    /* background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); */
    height:300px;
    width: 900px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
}

.kid-ministry-btn {
    height: 50px;
    width: 170px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    text-decoration: none;
    padding:  0;
    letter-spacing: 2px;
    margin-top: 20px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px
}

.kid-ministry-btn:hover {
    background-color: rgb(192, 18, 53);
}

.adult-ministry {
    display: flex;
}

.adult-ministry-img {
    height: 300px;
    border-radius: 12px;
    box-shadow: #000 0px 11px 15px 0px;
}

.adult-ministry-content {
    /* background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); */
    height:300px;
    width: 900px;
    box-sizing: border-box;
    color: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    padding: 0px 20px;
}

.adult-ministry-btn {
    height: 50px;
    width: 170px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    text-decoration: none;
    padding:  0;
    letter-spacing: 2px;
    margin-top: 20px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px
}

.adult-ministry-btn:hover {
    background-color: rgb(192, 18, 53);
}

.mom-ministry {
    display: flex;
}

.mom-ministry-img {
    height: 300px;
    border-radius: 12px;
    box-shadow: #000 0px 11px 15px 0px;
}

.mom-ministry-content {
    /* background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); */
    height:300px;
    width: 900px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
}

.mom-ministry-btn {
    height: 50px;
    width: 170px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    text-decoration: none;
    padding:  0;
    letter-spacing: 2px;
    margin-top: 20px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px
}

.mom-ministry-btn:hover {
    background-color: rgb(192, 18, 53);
}

/* ministry */

/* second container */

/* second container starts */



#second-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    /* box-sizing: border-box; */
    text-align: center;
    align-items: center;
    flex-flow: row nowrap;
    background-color: rgb(37, 37, 37);
    margin: 0 auto;
    /* padding: 200px ; */
    height: 100vh;
    width: 100%;

}

#about-us {
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    /* justify-content: space-evenly; */
    text-align: justify;
    /* align-items: center; */
    position: relative; 
    left: 4rem;
}

#about-us-title {
    /* text-align: center; */
    font-size: 4rem;
    color: rgb(235, 235, 235);
    font-variant: small-caps;
    margin-bottom: 25px;
    /* text-align: start; */
}

#about-us-hr {
    border: none;
    background-color: #dbdbdb;
    height: 1px;
    width: 25vw;
    overflow: visible;
    border-radius: 4px;
    position: relative;
}

#about-us-hr::after {
    content: '';
    width: 55vw;
    height: 2px;
    background: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
}

#about-us-text {
    text-wrap:wrap;
    font-size: 18px;
    /* text-align:start; */
    font-weight: 300;
    color: #d3d3d3;
    margin: 25px 0px;
    line-height: 40px;
    /* letter-spacing: 1px; */
}

#about-link {
    height: 70px;
    width: 170px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    /* border-radius: 4px; */
    /* font-size: 1rem; */
}

#about-link:hover {
    background-color: rgb(192, 18, 53);
}

#about-link > a {
    color: white;
    text-decoration: none;
    font-weight: 50;
    font-size: 20px;
}

#second-container-img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    /* border-radius: 4px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reveal {
    position: relative;
    transform: translateY(90px);
    transition: all 1.5s ease;
    opacity: 0;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

/* second container ends*/


/* yo section chai footer ko lagi  */
#footer {
    background-image: url('../assests/pattern.jpg');
    /* background-color: #272727; */
    height: auto;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    overflow: hidden;
    position: relative;
    opacity: 0.98;
}

.footer-ko-container {
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 150px; */

    
}

.footer-ko-top {
    padding: 140px 0;
    /* border: 1px solid rgb(55, 0, 255); */
    
}

.Location-timings {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.Location-timings h2 {
    color: #fb8b23;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 20px;
}

.Location-timings p {
    font-size: 15px;
    font-weight: 600;

}

.footer-bhitra {
    display: table-cell;
    padding: 0 30px;
    /* border-left: 1px solid #535353; */
    color: #fff;
    letter-spacing: 0.5pt;
    border-right: 1px solid #757575;

}

.footer-bhitra h2 {
    color: #fb8b23;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 20px;

}

.footer-ko-quicklinks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerko-links {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer-ko-li a  {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
}

#lastlink {
    list-style: none;
}

#lastlink a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    padding-left: 1rem;
}

.footer-ko-li {
    border-right: 1px solid #d3d3d3;
    padding: 0px 1rem;
    list-style: none;

    
}

.footer-ko-bottom {
    border-top: 1px solid rgb(192, 192, 192);
    padding: 30px 0;
    width: 100%;
    

}

.footer-ko-bottom p {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    padding-left: 2rem;
}
/* resources */

@media (max-width:768px)  {
    .nav-links-container {
        display: none;
    }

    .nav-container {
        justify-content: space-between;
        padding: 0px 40px;
    }

    #sign-in-btn {
        display: none;
    }

    .show-menu-btn {
        display: block;
    }
    
}