* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: poppins, sans-serif;
    background-color: rgb(37, 37, 37);
}

.form {
    width: 600px;
    border-radius: 8px;
    background-color:  #3b0d11;
    padding: 30px 40px;
}

label {
    display: block;
    font-weight: bolder;
    margin: 5px 0px;
    color: white;
}

input {
    width: 100%;
    padding: 8px 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
}

#submit-btn {
    border: none;
    background-color: #da2929;
    width: 100%;
    padding: 10px 8px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    margin: 20px 0px;
    font-variant: small-caps;
}

p {
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    color: white;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}